<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/stylecp.css')}}">
  <!-- <script src="cp.js"></script> -->
  <title>CREATE PROJECT</title>
</head>

<body>
  <h1>
    ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ENTER DETAILS OF THE PROJECT ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  </h1>
  <form method="post">
    <table id="t1" class="table" width="100%">
      <thead>
        <tr>
          <th class="header-label">Notation</th>
          <th class="header-label">Duration</th>
          <th class="header-label">Task Name</th>
          <th class="header-label">Predecessor Notation</th>
        </tr>
        {% for t in tasks %}
        <tr>
          <td><input type="text" pattern="[A-Za-z]{3}">{{t['notation']}}</td>
          <td><input type="integer">{{t['duration']}}</td>
          <td><input type="string">{{t['task_name']}}</td>
          <td><input type="text" pattern="[A-Za-z]{3}">{{t['predecessor_notn']}}</td>
        </tr>
        {% endfor %}
        <td><input type="text" name="newcell1"></td>
        <td><input type="integer" name="newcell2"></td>
        <td><input type="string" name="newcell3"></td>
        <td><input type="text" name="newcell4"></td>
      </thead>
      <tbody>
    </table>
    <!-- <button class=b1 id="addRow" name="addRow" value="addRow">Add Row</button> -->
    <!-- <script>
      const addButton = document.getElementById('addRow');
      const tableBody = document.querySelector('table');

      addButton.addEventListener('click', () => {
        console.log("CLicked");
        event.preventDefault();
        const newRow = document.createElement('tr');
        const notationCell = document.createElement('td');
        const durationCell = document.createElement('td');
        const tasknameCell = document.createElement('td');
        const predecessorCell = document.createElement('td');

        // notationCell.setAttribute('name', 'newcell1');
        // durationCell.setAttribute('name', 'newcell2');
        // tasknameCell.setAttribute('name', 'newcell3');
        // predecessorCell.setAttribute('name', 'newcell4');

        notationCell.name = 'newcell1';
        durationCell.name = 'newcell2';
        tasknameCell.name = 'newcell3';
        predecessorCell.name = 'newcell4';

        notationCell.type = 'text';
        durationCell.type = 'integer';
        tasknameCell.type = 'text';
        predecessorCell.type = 'text';

        notationCell.contentEditable = true;
        durationCell.contentEditable = true;
        tasknameCell.contentEditable = true;
        predecessorCell.contentEditable = true;

        notationCell.textContent = "Notation.."
        durationCell.textContent = "duration.."
        tasknameCell.textContent = "taskname.."
        predecessorCell.textContent = "predecessor.."

        newRow.appendChild(notationCell);
        newRow.appendChild(durationCell);
        newRow.appendChild(tasknameCell);
        newRow.appendChild(predecessorCell);

        tableBody.appendChild(newRow);
      });
    </script> -->
    <button class="b1" name="create" value="create" type="submit" method="post">ADD</button>
  </form>
</body>

</html>