<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/styledash.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Document</title>
</head>
<body class="body">
    <div class="small">
        PROJECT DETAILS
    </div>
    <div class="hl">

    </div>
    
    
        <div class="big">
            <div class="nave">
                <div class="dashboard"> 
                    <section class="navigation"> 
                      <aside class="sidebar">            
                        <nav class="nav">
                          <ul class = "nav-list">
                            <li class="active"><a href="#">CREATE PROJECT</a></li>
                            <li><a href="#">ADD MEMBER</a></li>
                            <li><a href="#">LOGOUT</a></li>
                          </ul>
                        </nav>
                      </aside>
                    </section> 
                </div> 
            </div>
            <div class="vl">

            </div>
            <div class="one">
                <div class="x">
                    <br>
                    <label class="heading"  id="id1" name="n1">Critical Tasks</label>
                    <br>
                    <br>
                    <li  style="list-style-type: none;"><a href="#" class="heading" style="font-size: 100%;" id="task" name="taskname">xyz</a></li>
                    <link>
                </div>
                <div class="hl">

                </div>
                <div class="y">
                    <br>
                    <label class="heading" id="id2" name="n2">Team Members</label>
                    <br>
                    <br>
                    <li style="list-style-type: none;"><a href="#" class="heading" style="font-size: 100%;" id="member" name="name">xyz</a></li> 
                </div>
            </div>
            <div class="vl">

            </div>
            <div class="task">
            </div>
            <div class="vl">

            </div>
            <div class="two">
                <div class="z">
                    <br>
                    <label class="heading" id="id3" name="n3">Percentage Of Completeion</label>
                    <br>
                    <br>
                    <canvas class="c1" id="myChart" ></canvas>

                    <script>
                    var xValues = ["Contracts", "Design", "Procurement", "Categorization"];
                    var yValues = [55, 49, 44, 24];
                    var barColors = ["#635985", "#635985","#635985","#635985"];

                    new Chart("myChart", {

                      type: "horizontalBar",
                      data: {
                            labels: xValues,
                            datasets: [{
                              backgroundColor: barColors,
                              data: yValues
                            }]
                        },
                        options: {
                          legend: {display: false},
                          title: {
                            display: false,
                            text: "Percentage completeion"
                             }
                             }
                        });
                </script>
                </div>
                <div class="hl">

                </div>
                <div class="w">
                    
                </div>
            </div>
        </div>
    
</body>
</html>